<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D'Hondt Method</title>
</head>
<body>
    <p>Lista komitetów wyborczych. Podaj poparcie dla poszczególnych komitetów (w procentach,
        z dokładnością do dwóch miejsc po przecinku, suma poparcia dla komitetów nie może
        być większa niż 100%). Kliknij "Zatwierdź" i zobacz szacunkową liczbę mandatów
        każdego komitetu w polskim Sejmie :-)</p>
    <form action="" method="POST">
        <ul>
        {% for committee in ctx.0 %}
            <li>
                Nazwa komitetu wyborczego: {{committee.committee_name}},
                Czy komitet jest koalicją (True=tak, False=nie): {{committee.is_coalition}} <br />
                <label>
                    Poparcie komitetu wyborczego:
                    <input type="number" placeholder="np. 31.15" step="0.01" min="0" max="100"
                           name="support">
                </label> <br />
                <a href="/society/editcommittee/{{committee.id}}">Edytuj dane komitetu</a>
                <a href="/society/deletecommittee/{{committee.id}}">Usuń komitet</a>
            </li>
        {% empty %}
            <p>Brak komitetów wyborczych do wyświetlenia. Dodaj komitety</p>
        {% endfor %}
        </ul>
        <label><input type="submit" value="Zatwierdź"></label>
        {% csrf_token %}
    </form>
    <a href="/society/addcommittee">Dodaj komitet wyborczy</a> <br />
    <ul>
        {% for committee in ctx.0 %}
            <li>
                Nazwa komitetu wyborczego: {{committee.committee_name}} <br />
                Poparcie komitetu wyborczego: {{ ctx.1 }} % <br />
                Szacunkowa liczba mandatów w Sejmie zdobytych przez komitet: {{ ctx.1 }}<br />
            </li>
        {% empty %}
            <p>Brak komitetów wyborczych do wyświetlenia. Dodaj komitety</p>
        {% endfor %}
    </ul>
</body>
</html>