<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Society</title>
</head>
<body>
    <div>
        <p>
            Wydawało się, że demokracja jest naturalnym, niepodważalnym ustrojem w naszych czasach,
            w naszej części świata, czy też w naszym kręgu kulturowym. Ale ostatnio wiele osób
            zdaje się mieć wątpliwości co do tego, albo wręcz uważa inaczej. Może zobaczymy,
            co znani ludzie mówili i mówią o demokracji?
        </p>
        <p>
            A można to zobaczyć po kliknięciu w "Klik :-)"
            <a href="/society/aboutdemocracy">Klik :-)</a>
        </p>
    </div>
    <div>
        <p>
            Jaka partia czy koalicja zdobędzie najwięcej mandatów w wyborach do polskiego Sejmu?
            Wiele zależy od stosowanej metody podziału mandatów poselskich między partie i koalicje.
            W Polsce obecnie obowiązuje metoda d'Hondta.
        </p>
        <p>
            Zobaczmy jak działa metoda d"Hondta :-)
            <a href="/society/dHondt">Klik :-)</a>
        </p>
    </div>
    <p>Inne spacery i dyskusje w okolicach spraw społecznych:</p>
    <div>
        <p>
            Atrakcje na deszczowy weekend majowy. Czyli na co nam zwracają uwagę
            polskie święta 1, 2 i 3 maja Klik :-)
        </p>
    </div>
    <div>
        <p>Pewna podróż do Włoch Klik :-)</p>
    </div>
    <div>
        <p>Pewna podróż po Polsce Klik :-)</p>
    </div>
</body>
</html>