<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walks And Talks</title>
</head>
<body>
    <div>
        <p>"zarówno wierzący w Boga (...), jak i (...) uniwersalne wartości wywodzący z innych źródeł"</p>
        <p>(Preambuła Konstytucji Rzeczypospolitej Polskiej)</p>
        <p>
            Zapraszam na spacery i dyskusje w okolicach spraw społecznych :-)
            <a href="society/">Klik :-)</a>
        </p>
    </div>
    <p>Inne spacery i dyskusje:</p>
    <div>
        <p>Ciekawe miejsca - historia, zabytki Klik :-)</p>
    </div>
    <div>
        <p>Ciekawe miejsca - przyroda Klik :-)</p>
    </div>
</body>
</html>